@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono:wght@400;600;700&display=swap");

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.form-container label {
  display: inline-block;
  width: 80px;
  text-align: left;
  font: 600 1.5rem Roboto Mono;
}

.form-container input {
  width: 12rem;
  height: 2rem;
  margin-top: 0.8rem;
  border-radius: 0.2rem;
  border: 0;
  outline: 0;
  padding: 0 0.6rem;
  font: 400 1rem Roboto Mono;
}

.form-container button {
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
  width: 16rem;
  height: 44px;
  font: 900 1.4rem Roboto Mono;
  border-radius: 0.2rem;
  border: 0;
  outline: 0;

  cursor: pointer;
  transition: background-color 0.2s;
}

.form-container button:hover {
  background-color: #1e90ff;
}

.select-block select {
  width: 13rem;
  height: 2.8rem;
  margin-top: 0.8rem;
  border-radius: 0.2rem;
  border: 10px solid transparent;
  outline: 0;
  padding: 0 10px;
  font: 14px Roboto Mono;
}
