@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono:wght@400;600;700&display=swap");

.page-link {
  font: 600 1.8rem Bungee;
  margin: 20px;
  background: black;
  width: 16vw;
}
